body {
    margin:0;
    font-family: Open Sans;
}

/*NOTE: I had started this project thinking I couldn't use divs, and when I found out I could...
It was already too late. By that I mean 1 day before the project was due. That is why you'll see 
I increased the padding on the sides of some figures in order for them to create a new row. ;(*/

a {
    text-decoration: none;
    color: #F3F4F5;
}

/* Navigation bar*/
nav {
    background-color: #383E4C;
    display: flex;
    justify-content: center;
}

nav > a {
    padding: 0.5rem 1rem;
    border: 1px solid #596170;
    margin: 0.75rem 0.5rem;
    font-size: 1rem;
}

nav a:hover{
    background-color: #49505F;
}

/*Appearance & size of white buttons*/
#big a, figure.threerow a, #columnb a {
    color: #666666;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: .5rem;
    font-size: larger;
    padding: 1vh 1.5vw;
}

/*Header*/
header {
    background-image: url(/layout-01-assets/img11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    margin-block-end: 0;
    margin-block-start: 20vh;
    font-weight: 400;
    font-size: 4rem;
    text-shadow: 2px 2px 1px black;
}

header.main > p {
    margin-block-start: 0;
    font-weight: lighter;
    font-size: 1.45rem;
    padding:  0 0 28vh 0;
    margin-block-end: 0;
}

figure p {
    margin: 0.5vw 1vw;
    color: #565656;
}

figure h3 {
    margin: 1vw 1vw 0.5vw 1vw;
    font-size: x-large;
    color: #666666;
}

/*First row of 3*/
section.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure.row {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #F2F2F2;
    width: 17.65vw;
    margin: 5vw 1vw;
    margin-bottom: 4vh;
}

figure.row img {
    width: 17.65vw;
}

figure.row a {
    align-self: center;
    font-size: 1vw;
    margin: 2vh 0;
    padding: 0.5rem 2rem;
    border-radius: .5rem;
    max-width: 6.5vw;
    text-align: center;
}

#green h3 {
    color: #178A27;
}

#green a {
    background-color: #178A27;
}

#blue h3 {
    color: #1686C1;
}

#blue a {
    background-color: #1686C1;
}

#red a {
    background-color: #852406;
}

/*first row of 2*/

figure.tworow {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #F2F2F2;
    width: 27.25vw;
    margin: 5vw 1vw;
}

figure.tworow img {
    width: 27.25vw;
}

figure.tworow h3 {
    align-self: center;
    color: #666666;
    margin-bottom: 3vh;
}

#columna {
    margin: 0 1vw 0 13vw;
}

#columnb {
    margin: 0 13vw 0 1vw;
}

#columnb a {
    align-self: flex-end;
    padding: 0.5rem 1.5rem;
    margin: 0.5vw 4vw 3vh 0;
}
/*second section: Our services*/
header.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url(/layout-01-assets/img13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100vw;
    margin: 5vw 0 0 0;
}

.two h2 {
    margin-top: 5vw;
    font-size: 2.5rem;
    font-weight: lighter;
    margin-block-end: 0;
    text-shadow: 1px 2px 1px #AAAAAA;
}

.two p {
    width: 40vw;
    margin-bottom: 4vw;
}

section.second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Third row of content/the row of four*/
figure.threerow {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #F2F2F2;
    width: 12.75vw;
    margin: 5vw 1vw 1vw 1vw;
}

figure.threerow a {
    align-self: center;
    margin: 2vh 0;  
}

figure.threerow h3 {
    font-size: 1.5vw;
}

/*ONE BIG COLUMN!!!!!!!*/
figure.threerow img {
    width: 12.75vw;
}

#big {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F2F2F2;
    width: 57vw;
}

#big img{
    width: 57vw;
    margin-bottom: 6vh;
}

#big h3, #big p {
    margin: 1vh 2vw 1vh 2vw;
}

#big a {
    margin: 2vh 0 4vh 2vw;
}

/*contact form*/
section.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(layout-01-assets/img14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.contact h3 {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 1px 2px 1px #333333;
    margin-bottom: 1.5vh;
    margin-top: 10vh;

}

.contact p {
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 0.2rem;
    text-align: center;
    padding: 3vh 2.5vw;
    font-size: 0.9rem;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 11vh;
}

.form-row {
    font-family: Open Sans;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18vh;
    width: 17vw;
    margin-right: 1vw;
}

.textarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 26vh;
    width: 17vw;
}

input, textarea {
    font-family: Open Sans;
    background-color: rgba(255, 255, 255, 0.486);
    border: 0;
    border-radius: 0.2rem;
}

textarea {
    height: 17.5vh
}

input {
    height: 4.5vh;
}

input::placeholder, textarea::placeholder {
    color: black;
    padding-left: 1rem;
}

textarea::placeholder {
    padding-top: .25rem;
    font-size: 0.8rem;
}

[value="Send"] {
    width: 5.5vw;
    height: 6vh;
    font-size: 1vw;
    background-color: #262628;
    color: white;
    border: 1px solid #CCCCCC;
    border-radius: .5rem;
}

/*Footer work*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3{
    font-weight: 400;
    font-size: 1.5rem;
    margin-block-end: 0;
    color: #666666;
}

footer p {
    font-size: x-small;
    color: #777777;
}

small {
    width: 100vw;
    text-align: center;
    padding-top: 3vh;
    border-top: 1px solid #EEEEEE;
    font-size:x-small;
    color: #777777;
    margin-top: 5vh;
}

footer h3, footer p {
    font-style: italic;
}

footer a {
    align-self: flex-end;
    margin:3vh 1.5vw
}