body {
    margin:0;
    font-family: Open Sans;
    /* note later: figure out how to implement "open sans" or "source sans" font*/
}

a {
    text-decoration: none;
    color: #F3F4F5;
}

/* Navigation bar*/
nav {
    background-color: #383E4C;
    display: flex;
    justify-content: center;
}

nav > a {
    padding: 0.5rem 1rem;
    border: 1px solid #596170;
    margin: 0.75rem 0.5rem;
    font-size: 1.4rem;
}

nav a:hover{
    background-color: #49505F;
}

/*Appearance & size of white buttons*/
#big a, figure.threerow a, #columnb a {
    color: #666666;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: .5rem;
    font-size: x-large;
    padding: 1vh 1.5vw;
}

/*Header*/
header {
    background-image: url(/layout-01-assets/img11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    margin-block-end: 0;
    margin-block-start: 20vh;
    font-weight: lighter;
    font-size: 5rem;
    text-shadow: 2px 2px 1px black;
}

header.main > p {
    margin-block-start: 0;
    font-weight: lighter;
    font-size: 2rem;
    padding:  0 0 27vh 0;
    margin-block-end: 0;
}

figure p {
    margin: 0.5vw 1vw;
    color: #565656;
    font-size:larger;
}

figure h3 {
    margin: 1vw 1vw 0.5vw 1vw;
    font-size: x-large;
    color: #666666;
}

/*First row of 3*/
section.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure.row {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #F2F2F2;
    width: 17.65vw;
    margin: 5vw 1vw;
    margin-bottom: 4vh;
}

figure.row img {
    width: 17.65vw;
}

figure.row a {
    align-self: center;
    font-size: 1.5rem;
    margin: 2vh 0;
    padding: 0.5rem 2rem;
    border-radius: .5rem;
    max-width: 6.5vw;
    text-align: center;
}

#green h3 {
    color: #178A27;
}

#green a {
    background-color: #178A27;
}

#blue h3 {
    color: #1686C1;
}

#blue a {
    background-color: #1686C1;
}

#red a {
    background-color: #852406;
}

/*first row of 2*/

figure.tworow {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #F2F2F2;
    width: 27.25vw;
    margin: 5vw 1vw;
}

figure.tworow img {
    width: 27.25vw;
}

figure.tworow h3 {
    align-self: center;
    color: #666666;
}

#columna {
    margin: 0 1vw 0 13vw;
}

#columnb {
    margin: 0 13vw 0 1vw;
}

#columnb a {
    align-self: flex-end;
    padding: 0.5rem 1.5rem;
    margin: 0.5vw 4vw 3vh 0;
}
/*second section*/
header.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url(/layout-01-assets/img13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    margin: 5vw 0 0 0;
}

.two h2 {
    margin-top: 5vw;
    font-size: 2.5rem;
    font-weight: lighter;
    margin-block-end: 0;
}

.two p {
    width: 35vw;
    margin-bottom: 5vw;
    font-size: larger;
}

section.second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Third row of content*/
figure.threerow {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #F2F2F2;
    width: 12.75vw;
    margin: 5vw 1vw 1vw 1vw;
}

figure.threerow a {
    align-self: center;
    margin: 2vh 0;  
}

figure.threerow img {
    width: 12.75vw;
}

#big {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F2F2F2;
    width: 57vw;
}

#big img{
    width: 57vw;
}

/*content form*/
.contact {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20vh;
    justify-content: space-around;
}

/*Footer work*/
section.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(layout-01-assets/img14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    align-self: flex-end;
}